// General
.h1-admin {
    font-size: 28px;
}
.h2-admin {
    font-size: 20px;
    font-weight: 700;
}

// Login
.login-img {
    background-image: url(../admin/assets/img/img-login.jpg);
    height: 100vh;
}
.form-col {
    background-color: $dark-celeste;
}
.form-login {
    background-color: $white;
    width: 400px;
    border-radius: 6px;
    box-shadow: $box-shadow;

    img {
        width: 150px;
    }
    input[type=text], input[type=password] {
        border-radius: 0;
        border: 1px solid $black;
    }
    .btn-primary {
        margin-left: 0;
    }
}

// Header
#nav-admin {
    ul li {
        padding-right: 15px;
    }
    ul li:last-child {
        padding-right: 0;
    }
}

// Iconos
.icono {
    width: 20px;
}

// Nav izq
.celeste {
    background-color: $light-celeste;
}
.nav-izq {
    background-color: $light-celeste;
    height: 100vh;
    ul {
        padding-left: 0.75rem;

        a {
            padding: 20px 0px 0px 0px;
            color: $black;

            &:hover {
                color: $white;
            }

            svg {
                margin-right: 20px;
            }
        }
    }
}

// Dashboard
.dashboard-datos {
    h2 {
        margin-top: 24px;
    }
    h2:first-child {
        margin-top: 0;
    }
}
.box {
    padding: 17px 15px;
    background-color: $white;
    border-radius: 6px;
    box-shadow: $box-shadow-sm;
}

// Listado

.listado {
    a {
        color: $black;
        text-decoration: none;

        &:hover {
            color: $darken-celeste;
        }
    }
}

// Mensajes
.mensajecorrecto{
    margin-top: 5px;
    padding: 15px 20px;
    background-color: #80ca83;
}
.mensajeerror {
    margin-top: 5px;
    padding: 15px 20px;
    color: $white;
    background-color: #ef6969;
}

// Imagenes modificar 
#imagenes {
        p {
            margin: 0 10px;
        }

        a {
            // position: absolute;
            // left: 59%;
            // top: 2%;
            width: 40px;
            height: 40px;
            background-color: $dark-celeste;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;

            &:hover {
                background-color: $darken-celeste;
            }
            svg {
                width: 24px;
            }
        }
}