.prod-info {
    span {
        font-size: 13px;
    }
    h1 {
        font-size: 24px;
        font-weight: 600;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
        font-weight: 600;
    }
    .variantes div {
        margin-right: 5px;
    }
    select {
        border-radius: 0;
        padding: 10px 0px;
        border-color: transparent;

        &:focus {
            border-color: transparent;
            box-shadow: none;
        }
    }
}

.similares {
    h4 {
        font-size: 24px;
    }
}