footer {
    background-color: $dark-celeste;

    address, p {
        color: $white;
    }
    .btn-terciary {
        border: 1px solid $white;
        color: $white;
        font-weight: 600;
        
        &:hover, &:focus {
            background-color: $white;
            color: $dark-celeste;
            box-shadow: none;
        }
    }
    h4 {
        font-size: 16px;
        color: $white;
        font-weight: 600;
    }
    #newsletter {
        padding: 5px 10px;
        border-radius: 0;
        border: 1px solid $white;

        &:focus, &:active {
            border: 1px solid $white;
            border-radius: 0;
        }
    }
    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }
    .copy {
        border-top: 1px solid $white;

        p {
            font-size: 14px;
        }
    }
}