body {
    font-family: $primary-font;
    color: $black;
}

.btn {
    border-radius: 0;
    border: none;
    padding: 10px 24px;
}
.btn-secondary {
    background-color: $white;
    color: $dark-celeste;
    font-weight: 600;

    &:hover, &:focus {
        background-color: $darken-celeste;
    }
}

// Inicio
.portada {
    width: 100%;
}
#inicio {
    h1 {
        font-size: 24px;
    }
}

.prod-nuevo {
    position: relative;

    .etiqueta-nuevo {
        position: absolute;
        top: -162px;
        left: 8%;
        color: $white;
        font-weight: 600;
        background-color: $light-celeste;
        padding: 5px 15px;
    }
}

.nosotros-blurb {
    p {
        max-width: 610px;
        margin: 0 auto;
    }
    a {
        text-underline-offset: 3px;
        color: $black;

        &:hover {
            color: $light-celeste;
        }
    }
}

// Ampliacion
.breadcrumb {
    a {
        color: $light-celeste;
        text-decoration: none;
    }
}