// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
$primary-font: 'Lato', sans-serif;

// Colores
$black: #333333;
$white: #ffffff;
$ligth-celeste: #8ACEDD;
$dark-celeste: #92BCC6;
$darken-celeste: darken($dark-celeste, 10%);
$accordion-border-color: $black;
$accordion-button-active-color: $black;
$accordion-button-active-bg: $white;
$form-check-input-checked-bg-color: $ligth-celeste;
$form-check-input-focus-border: $ligth-celeste;
$input-focus-border-color: $black;
$input-focus-color: $black;


$form-check-input-width: 1.2em;